@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Cedarville Cursive;
  src: url(../public/CedarvilleCursive-Regular.ttf);
}

* { /* reset margins and paddings on all elements */
	margin:0;
	padding:0;
}
.name{
  font-family: Cedarville Cursive ;
}
.colored::before{
		content:""; /* required for ::before */
		position:fixed; /* don't scroll with page */
		z-index:-100; /* place behind elements on page */
		width:100%;
		height:100%;
		background-color:#070e0e;
		background-image: 
		radial-gradient(circle farthest-side at top right, transparent, #040708), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #797676);
		animation:bg-change 1s infinite;
}

@keyframes bg-change {
	0%, 100% {
		filter:hue-rotate(0deg);
	}
	50% {
		filter:hue-rotate(-45deg);
	}
}